// COLORS

$lightgrey: #c3cfe2;
$white: white;
$shadow: lightslategrey;
$grey: rgb(96, 96, 96);
$purple: #686de0;
$lightpurple: #b5b8ff;
$darkblue: rgb(37, 37, 69);
$blogcolor: #e17b77;
$twittercolor: #00aced;
$linkedincolor: #007bb6;
$facebookcolor: #3b5998;
$githubcolor: #333;


// FONT

$font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$fontsizecard: 20px;
$fontsizename: 25px;
$fontsizelink: 20px;

$fontsizeicon: 25px;
$fontsizeiconlink: 15px;


// HEIGHT - WIDTH

$imageheigth: 250px;
$imagewidth: 250px;

$iconheight: 50px;
$iconwidth: 50px;
$iconhoverwidth: 250px;

